# Dependencies
/node_modules

# Build artifacts
/dist
/build

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Logs and other files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*